{% extends "showimage/base.html " %}

{% load bootstrap3 %}

{% block content %}

<div class="pan_setting">
    <div class="container">
        <p>啵唧电影屋是由yilee创建于2019年12月，目前暂未完成最终版本，功能实在太简略，没办法，能力实在太有限</p>
        <li>
            2020年1月30日完成添加搜索功能
        </li>
        <li>
            2020年2月06日添加页面导航栏logo
        </li>
        <li>
            2020年2月07日完成具体某个电影界面的排版样式
        </li>
        <li>
            2020年2月08日完成添加全部影片界面下TOP10排行榜
        </li>
        <li>
            2020年2月11日完成添加首页轮播图样式
        </li>
        <li>
            2020年2月17日完成网页界面页脚布局
        </li>
        <li>
            2020年3月13日完成相关网页电影爬虫获取电影数据
        </li>
        <li>
            2020年3月15日完成将获取的电影数据全部存入到MySql中
        </li>
        <li>
            2020年3月20日完成django中使用的json文件替换称为从MySql获取以及榜单页面的添加
        </li>
        <li>
            2020年3月22日完成电影分类功能
        </li>
        <li>
            2020年4月4日通过建立MySql多对多表格模型完成全部电影界面的类型分类功能
        </li>
        <li>
            2020年4月5日通过建立MySql多对多表格模型完成全部电影界面的有关地区以及类型进行区分选择功能
        </li>
        <!-- <li>
            <a href="/Movies/Tags=0&&0">测试路径2</a>
        </li> -->
    </div>
</div>
<footer class="box-footer">
    <div class="container">
        <div class="footer_display">
            <p>
                Template built for<a href="http://getbootstrap.com"> Bootstrap </a>by Yilee.
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>1593880130@qq.com
            </p> 
        </div>
    </div>
</footer>
{% endblock content %}