{% extends "showimage/base.html " %}

{% load bootstrap3 %}

{% block content %}

<div class="pan_setting">
    <div>
        <p>啵唧电影屋是由yilee创建于2019年12月，目前暂未完成最终版本，功能实在太简略，没办法，能力实在太有限</p>
        <li>
            2020年1月30日完成添加搜索功能
        </li>
        <li>
            2020年2月06日添加页面导航栏logo
        </li>
        <li>
            2020年2月07日完成具体某个电影界面的排版样式
        </li>
        <li>
            2020年2月08日完成添加全部影片界面下TOP10排行榜
        </li>
        <li>
            2020年2月11日完成添加首页轮播图样式
        </li>
    </div>
</div>

{% endblock content %}