
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>啵唧电影屋</title>
    <link href="/style/bootstrap.min.css" rel="stylesheet">

    <link href="/style/base.css" rel="stylesheet">
    
    <style>
        .text_setting {
            vertical-align: middle; 
            text-align: center;
            height: 280px;
        }
        .row_setting {
            height:0px;
            padding-bottom:100%;
        }
    </style>
    
    <script>
        function checkValid(){
            var result = document.getElementById("keyWord").value;
            if(result == ""){
                alert("请输入关键字");
                return false;
            }else{
                return true;
            }
        }
    </script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                </button>
                <a class="navbar-brand" href="{% url 'showimage:index' %}">
                    <img alt="Brand" style="max-width:80px;margin-top:-10px;" src="/img/logo.png">
                </a>
                <a class="navbar-brand" href="{% url 'showimage:index' %}"><p><b>啵唧电影屋</b></p></a>

            </div> 

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left" role="search" action="{% url 'showimage:search' %}" method="get" onsubmit="return checkValid();">
                        <div class="form_group">
                            <input type="text" class="form_search" placeholder="请输入关键字" name="q" id="keyWord">
                            <input class="submit" type="submit" value="" > 

                        </div>
                        {% csrf_token %}                    
                    </form>
                    <li class="box">
                        <a href="{% url 'showimage:index' %}">首页</a>
                    </li>
                    <li class="box">
                        <a href="/Movies_Tags/0&&0">全部影片</a>
                    </li>
                    <li class="box">
                        <a href="{% url 'showimage:recommend' %}">今日推荐</a>
                    </li>
                    <li class="box">
                        <a href="{% url 'showimage:RankingList' %}">榜单</a>
                    </li>
                    <li class="box">
                        <a href="{% url 'showimage:about' %}">关于</a>
                    </li>
                </ul>
            </div>
            
        </div>
    </nav>
    <!--/.nav-collapse--->

    <div>
        {% block content %}
        {% endblock content %}  
    </div>

    <script type="text/javascript">
        //该方法不可行,页面导航栏的<a>标签有href,每次点击相当于页面刷新，点击后会有一瞬间的切换但是刷新后还是会恢复到默认的状态
        //获取click动作找到被点击标签再修改的方式相当于先修改，页面刷新就会被重置
        // $(function(){
        //     $(".box").click(function(){
        //         $(".box").removeClass("active");
        //         $(this).addClass("active");
        //     });
        // });
        //这个方法是找到所有的li标签，对其a标签的链接地址进行判断
        //若和当前浏览器的地址一致，就认为是当前应该激活的菜单，添加active类，否则就取消
        $(function(){
            $(".navbar-right").find("li").each(function(){
                var a = $(this).find("a:first")[0];
                if ($(a).attr("href") == location.pathname){
                    $(this).addClass("active");
                }else{
                    $(this).removeClass("active");
                }
            });
        });
    </script>

  </body>
</html>