{% extends "showimage/base.html" %}


{% load bootstrap3 %}


{% block content %}

<div>
    <div class="db_bodyout">
        <div class="db_bodybg">
            <div class="db_topcont">
                <div class="db_coverinner">
                    <img src="/img/{{ itMovie.file }}" class="db_coverpicbox img-rounded image-responsive center-block">
                </div>
                <div class="db_ihead">
                    <div class="db_head">
                        <div class="clearfix">
                            <span style="font-size:35px;"><strong>{{ itMovie.name }}</strong></span>
                            <span class="db_year" style="font-size:30px;">({{ itMovie.year }})</span>
                            <!-- <h1><strong>{{ itMovie.name }}</strong></h1>
                            <p class="db_year" style="font-size:30px;">({{ itMovie.year }})</p> -->
                            <p class="db_enname" style="font-size:25px;">{{ itMovie.enname }}</p>
                        </div>
                        <div class="otherbox">
                            <span>{{ itMovie.duration}}</span> - 
                            <span>{{ itMovie.type}}</span> - 
                            <span>{{ itMovie.releasetime }}上映</span>
                        </div>
                    </div>
                </div>
                <div class="db_contout">
                    <div class="db_cont">
                        <div class="clearfix">
                            <div class="base">
                                <dl class="info">
                                    <dd>
                                        <strong>导演：</strong>
                                        <span>{{ itMovie.director }}</span>
                                    </dd>
                                    <dd>
                                        <strong>上映时间：</strong>
                                        <span>{{ itMovie.releasetime }}</span>
                                    </dd>
                                    <dd>
                                        <strong>类型：</strong>
                                        <span>{{ itMovie.type}}</span>
                                    </dd>
                                    <dt>
                                        <h4 class="mt01"><strong>剧情简介：</strong></h4>
                                        <p class="mt02">{{ itMovie.Synopsis }}</p>
                                        <p class="mt03"> 
                                            <a href="#">更多剧情</a>
                                            <i class="gt"></i>
                                        </p>
                                    </dt>
                                </dl>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}     

    

