   
{% extends "showimage/base.html" %}


{% load bootstrap3 %}

{% block header %}
    <h4>影片简介</h4>
{% endblock header %}



{% block content %}
    <div class="container" >
    <div class="media">
        <div class="media-left media-middle">
            <img src="/img/{{ itMovie.file }}" width="210px" height="280px" class="media-object">
        </div>
        <div class="media-body">
            <p>
                <li>
                    <b>影片名：</b>{{ itMovie.name }}
                </li>
                <li>
                    <b>上映时间：</b>{{ itMovie.releasetime }}
                </li>
                <li>
                    <b>导演：</b><i>{{ itMovie.director }}</i>
                </li>
                <li>
                    <b>类型：</b>{{ itMovie.type}}
                </li>
                <li>
                    <b>剧情简介：</b>{{ itMovie.Synopsis }}
                </li>
            </p>
        </div>
    </div>
    </div>
{% endblock content %}     

    

