{% extends "showimage/base.html " %}

{% load bootstrap3 %}

{% block header %}
    <h4>影片列表</h4>
{% endblock header %}



{% block content %}

    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 text_setting">
            <div class="thumbnail">
                <img src="/img/7.jpg" width="210" height="280">
                <div class="caption">
                    <h5>
                        <a href="{% url 'showimage:Leondescribe' %}">《Leon：The Professional》</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-3 text_setting">
            <div class="thumbnail">
                <img src="/img/8.jpg" width="210" height="280">
                <div class="caption" >
                    <h5>
                        <a href="{% url 'showimage:Jokerdescribe' %}">《Joker》</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock content %}