   
{% extends "showimage/base.html" %}


{% load bootstrap3 %}

{% block header %}
    <h4>影片简介</h4>
{% endblock header %}



{% block content %}
    <div class="container" >
    <div class="media">
        <div class="media-left media-middle">
            <img src="/img/8.jpg" width="180" height="240" class="media-object">
        </div>
        <div class="media-body">
            <p>
                <li>
                    <b>影片名：</b>《Joker》
                </li>
                <li>
                    <b>中文名：</b>《小丑》
                </li>
                <li>
                    <b>上映时间：</b>2019年10月4日（美国）
                </li>
                <li>
                    <b>导演：</b><i>托德·菲利普斯</i>
                </li>
                <li>
                    <b>类型：</b>犯罪、惊悚、剧情
                </li>
                <li>
                    <b>剧情简介：</b>亚瑟·弗莱克是一个和母亲住在老旧公寓里，需要靠社会福利组织帮助，不断服用精神疾病药物的小丑。
                    他想成为一个脱口秀演员，但并不成功。
                    人们只是嘲笑他。
                    他在地铁上爆发式地犯下了谋杀案。
                    他的世界，就此一点一滴地开始崩塌了。
                </li>
            </p>
        </div>
    </div>
    </div>
{% endblock content %}     

    

