{% extends "showimage/base.html " %}

{% load bootstrap3 %}


{% block content %}

    <div class="pan_setting">
        <div class="container">
            <div class="left_col">
                <div class="hottoper">
                    <dl>
                        <dt>
                            <h4><strong>本月热度排行榜TOP10</strong></h4>
                            <p style="font-weight: lighter;">近期1个月内，最受热议的电影</p>
                        </dt>
                        <dd>
                            <ul class="clearfix">
                                {% for movie in heat_movies_list %}
                                <li>
                                    <a href="{% url 'showimage:get_description' movie.filename %}">
                                        <img src="/img/{{ movie.filename }}" style="width: 140px;height: 190px;">
                                        <div class="caption" style="height: 45px;">
                                            <p class="mt10">{{ movie.cname }}</p> 
                                            <p class="mt11">主演:<span>{{ movie.actors }}</span></p> 
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                        <dd>
                            <a href="/Movies_Tags/0&&0" class="mt12">更多内容>></a>
                        </dd>
                    </dl>
                </div><!--hottoper-->
                <div class="hottoper">
                    <dl >
                        <dt>
                            <h4><strong>日本动画排行榜TOP10</strong></h4>
                            <p style="font-weight: lighter;">
                                日本动画电影类型丰富，不少动画粉丝对于大导演们也是如数家珍，
                                宫崎骏、手冢治虫、高畑勋、细田守、押井守、今敏、新海诚……
                            </p>
                        </dt>
                        <dd>
                            <ul class="clearfix">
                                {% for movie in animation_movies_list %}
                                <li>
                                    <a href="{% url 'showimage:get_description' movie.filename %}">
                                        <img src="/img/{{ movie.filename }}" style="width: 140px;height: 190px;">
                                        <div class="caption" style="height: 45px;">
                                            <p class="mt10">{{ movie.cname }}</p> 
                                            <p class="mt11">导演:<span>{{ movie.director }}</span></p> 
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                        <dd>
                            <a href="/Movies_Tags/0&&0" class="mt12">更多内容>></a>
                        </dd>
                    </dl>
                </div><!--hottoper-->
            </div>

            <div class="right_col">
                <div>
                    <div class="tooltip-options">
                        <div data-toggle="tooltip"  title="来源于豆瓣评分" data-placement="left">
                            <h3 class="mt04">高分排行榜TOP10</h3>
                        </div>
                    </div>
                    <div class="data_top">
                        <ul>
                            {% for movie in top_movies_list %}
                            <li>
                                <em class="num">{{ movie.top_id }}</em> 
                                <!-- <div class="clearfix">
                                    <a href="{% url 'showimage:get_description' movie.file %}">{{ movie.name }}</a>
                                    <strong>{{ movie.mark }}</strong>
                                </div>  -->
                                <div class="table" style="margin-bottom: 5px;"> 
                                    <div class="t_r"> 
                                        <a href="{% url 'showimage:get_description' movie.filename %}"> 
                                            <div class="td"> 
                                                    <img width="75" height="100" class="img_box" src="/img/{{ movie.filename }}">
                                            </div> 
                                            <div class="td" style="padding-left: 14px;"> 
                                                <h3 style="font-size: 14px;"> 
                                                    {{ movie.cname }}<br>{{ movie.enname }}
                                                </h3> 
                                                <div class="clearfix" style="margin-top: 9px;"> 
                                                    <p class="point"> 
                                                        <span class="total">{{ movie.score_integer }}</span>
                                                        <span class="total2">{{ movie.score_fraction }}</span>	
                                                    </p> 
                                                </div> 
                                            </div> 
                                        </a>
                                    </div> 
                                </div> 
                            </li>
                            {% endfor %}
                        </ul>
                        <p class="mt06"> 
                            <a href="/Movies_Tags/0&&0">更多内容>></a>
                        </p>
                    </div><!--data_top-->
                </div>
            </div><!--right_col-->

            <div id="backtotop">
                <div class="top"><span title="back to top"></span></div>
                <script type="text/javascript">
                    /* <!--$(windows).scroll是监听页面滚动事件--> */
                    /* <!--如果需要监听其他的滚动事件，把windows换成你要监听的DOM就行-->  */
                    $(window).scroll(function () {    
                        /* <!--当页面滚动条的垂直偏移超过300时显示，否则隐藏--> */
                        if ($(window).scrollTop() > 300) {
                            $("#backtotop").fadeIn();  
                            /* //fadeIN，fadeOut时渐入渐出，需要别的动画可以自己改 */
                        } else {
                            $("#backtotop").fadeOut();
                        }
                    });

                    $("div#backtotop").click(function () {    
                        /* <!--点击按钮时回到顶部，速度位500--> */
                        $("body,html").animate({
                            scrollTop: 0
                        }, 500);
                    });
                </script>
            </div><!--#backtotop-->
        </div><!--container-->
    </div><!--pan_setting-->

    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    <footer class="footer">
        <div class="container">
            <div class="footer_display">
                <p>
                    Template built for<a href="http://getbootstrap.com"> Bootstrap </a>by Yilee.
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>1593880130@qq.com
                </p> 
            </div>
        </div>
    </footer>
{% endblock content %}