{% extends "showimage/base.html " %}

{% load bootstrap3 %}

{% block content %}

<div class="pan_setting">
    <div class="container">
        <a href="#" data-toggle="modal" data-target="#Vadio">模态框</a>
        <div class="modal fade bs-example-modal-lg" id="Vadio" tabindex="-1" role="dialog" aria-labelledby="videoPlayModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" class="myModal-content">
                    <div class="modal-body">
                        <a class="close" data-dismiss="modal" style="position:absolute; top:5px; right:5px;">×</a>
                    </div>
                    <div id="filelist">
                        <video id="videodemo" class="video_link" style="width:100%;height:100%;object-fit:fill" controls>
                            <source src="/video_resp/?path=static_files/video/Leon.mp4" type="video/mp4">
                            您的浏览器不支持Video标签
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <!-- <script type="text/javascript">
        // 触发模态框时，暂停是暂停，播放还是暂停
            $(function () {
                $("#filelist").on('click',".video_link",function radiohide() {
                    var videoDom = event.target;
                    if (videoDom.paused) {
                        videoDom.play();
                    } else {
                    videoDom.pause();
                    }
                });
            });
        </script> -->
        <script type="text/javascript">
            // 当模态框完全对用户隐藏时触发：暂停事件
            $(function () {
                $("#Vadio").on('hidden.bs.modal', function () {
                    var vadiodom = document.getElementById("videodemo");
                    vadiodom.controls = true;
                    if (!vadiodom.paused) {
                        vadiodom.pause();
                    }
                });
            });
        </script>
        <script type="text/javascript">
        // 实现模态框在界面内水平垂直居中
            $('#Vadio').on('shown.bs.modal', function () {
                // 关键代码，如没将modal设置为 block，则$modala_dialog.height() 为零
                $(this).css('display', 'block');
                var modalHeight=$(window).height() / 2 - $('#Vadio .modal-dialog').height() / 2;
                $(this).find('.modal-dialog').css({
                    'margin-top': modalHeight
                });
            });
        </script>
    </div>
</div>

<footer class="box-footer">
    <div class="container">
        <div class="footer_display">
            <p>
                Template built for<a href="http://getbootstrap.com"> Bootstrap </a>by Yilee.
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>1593880130@qq.com
            </p> 
        </div>
    </div>
</footer>
{% endblock content %}