/*
 * Globals
 */

 html,
 body {
   overflow-x: hidden; /* Prevent scroll on narrow devices */
   font-family: 'Poppins', sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   letter-spacing: 1px;
   height: 100%;
   width: 100%;
   position: relative;
  }
 .pan_setting {
  padding-top:60px;
}
body a:hover,
body a:focus {
  text-decoration:none;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


/* Nav links */
#headbar{
  z-index: 50;
}
.box {
  position: relative;
  display: inline-block;
  font-weight: 500;
  color: #cdddeb;
}
.box:hover,
.box:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.box.active {
  color: #fff;
}
.box.active:after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}
/* 
  navbar seaech form 
*/
.form_group{
  float: right;
  position: relative;
}
.form_search{
  display: inline-block;
  height: 34px;
  line-height: 1.2;
  width: 220px;
  padding: 0 40px 0 20px;
  border: 1px solid #c8deec;
  box-shadow: 0 0 3px #c8deec;
  box-shadow: 0 0 30px 50px #fff inset;
  font-size: 14px;
  border-radius: 30px;
  overflow: hidden;
  color: #333;
  outline: none;
}

.submit {
  background-image: url(searchend.png);
  background-position: -70px -102px;
  position: absolute;
  display: inline-block;
  height: 30px;
  width: 30px;
  left: 180px;
  top: 1px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}


/*
 * Footer
 */
 .footer{
  color: #999;
  background: #f5f6f5;
  border-top: 1px solid #c5c5c5;
  line-height: 35px;  
  bottom: 0;
 }
.box-footer {
  color: #999;
  background: #f5f6f5;
  border-top: 1px solid #c5c5c5;
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  overflow: hidden;
}
.footer_display{
  text-align: center;
  color: #999;
}

/*
 * index background
 */
 .carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner .item {
  height: 360px;
}


/*
back to top
*/
#backtotop{
  float: right;
  /* display: none; */
  clear: both;
  position: fixed;
  text-align: center;
  bottom: 5%;
  right: 10px;
  cursor: pointer;
  zoom:1

}
.top{
	width: 35px;
  height: 35px;
  background-color: rgb(20, 20, 20);
  opacity:100;
  border-radius: 25px;
  position: fixed;
  bottom: 5%;
  right: 30px;
  background-image: url(icon_Top.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
} 

/*
 * description background
 */
 .db_bodyout {
  background: #fff;
  position: relative;
  width: 100%;
  /* height: 60%; */
  zoom:1;
  z-index: 1;
}
.db_bodybg {
  background:url(bgs1.jpg);
  width: 100%;
  height: 300px;
  position: absolute;;
  left: 0;
  top: 0;
  z-index: 10;
  zoom:1;
}
.db_topcont {
  background: #fff;
  width: 1000px;
  height:400px;
  box-shadow: 0 -10px 15px -10px #525252;
  position: absolute;
  z-index:20;
  top: 100px;
  left: 10%;
  margin: 0 auto;
  zoom:1;
}
.db_coverinner {
  position: absolute;
  left: 30px;
  top: 20px;
}
.db_coverpicbox {
  display: block;
  width:300px;
  height:400px;
  border-radius:15px;
  background-color: transparent;
  box-shadow:0px 0px 5px 5px #ccc;
  padding: 10px;
  z-index: 30;
}
.db_ihead {
  position: absolute;
  width: 600px;
  left: 370px;
  zoom: 1;
}
.db_head {
  width: 600px;
  margin: 0 auto;
  position: absolute;
  padding-top: 30px;
  padding-bottom: 25px;
  zoom: 1;
  z-index: 50;
}
.clearfix{
  display: block;
}
.db_year{
  font-weight: normal;
  font-size: 25px;
  color: #333;
  line-height: 1em;
}
.db_enname{
  display: block;
  margin-top: 5px;
  margin-left: 0;
}
.db_head .otherbox {
    background: #444;
    display: inline-block;
    *display: inline;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-top: 5px;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
    zoom: 1;
}
.db_contout {
  /* background: #fff; */
  position: absolute;
  padding-bottom: 15px;
  font-size: 14px;
  padding-top: 180px;
  padding-left: 370px;
  z-index: 0;
  zoom: 1;
}
.db_cont {
  width: 1000px;
  margin: 0 auto;
}
.base{
  float: left;
  display: inline;
  width: 670px;
}
.info{
  float: left;
  display: inline;
  width: 440px;
  margin-left: 5px;
}
.info dd {
  border-bottom: 1px dotted #999;
  position: relative;
  padding: 9px 0 9px 120px;
  line-height: 1.5em;;
  font-size: 13px;
  zoom: 1;
}
.info dd strong {
  position: absolute;
  left: 0;
  top: 7px;
  width: 120px;
  font-size: 14px;
  line-height: 1.5em;
}
.info dt {
  font-size: 13px;
  font-weight:normal
}
.mt01{
  margin-top: 12px;
  font-size: 13px;
}
#intro {
  margin-top: 6px;
  line-height: 180%;
  font-size: 13px;
}

/* 显示的是电影描述界面的更多剧情中的<<图标 */
.gt {
  background: url(allicon24.png) no-repeat -125px 0;
  width: 11px;
  height: 10px;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  overflow: hidden;
  vertical-align: middle;
}

/*
allimages background
*/
.left_col {
  float: left;
  display: block;
  width: 75%;
}
.left_col .item {
  display: block;
  color: #37a;
  font-size: 13px;
  text-align: center;
}


/*
Ranging kind 
*/
.left_col{
  float: left;
  width: 50%;
}
.hottoper dl {
  width: 900px;
  margin: 0 auto;
}
.hottoper dt {
  border-left: 10px solid #ff6e00;
  color: #333;
  padding-left: 20px;
  margin-top: 30px;
  line-height: 1.6em;
  width: 800px;
}
.hottoper ul {
  padding-top: 15px;
  margin-left: -40px;
}
.hottoper li {
  display: inline;
  width: 155px;
  height: 260px;
  background-color: transparent;
  box-shadow:0px 0px 5px 5px #f7f5f5;
  border-radius:5px;
  padding: 7px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #7f7f7f;
}
.mt10{
  font-weight: bolder;
  font-weight: 14px;
  color: #333;
  margin:0 0 0;
}
.mt11{
  color: #7f7f7f;
  font-size: 12px;
}
.mt11 span{
  color: #333;
}
.mt12{
  font-size: 12px;
  float: right;
  margin-right: 100px;
}



/*
Ranking right background
*/
.right_col {
  float: right;
  display: block;
  width: 25%;
}
.mt04{
  margin-top: 15px;
  margin-left: 25px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px dashed #bbb;
  line-height: 35px;
}
.data_top {
  margin-top: 5px;
}
.data_top li {
  border-bottom: 1px dashed #bbb;
  padding: 5px 0 5px 30px;
  position: relative;
  clear: both;
  overflow: hidden;
  zoom: 1;
}
.data_top li em {
  position: absolute;
  left: 3px;
  top: 10px;
}
.num{
  font-size: 20px;
  font-weight: bold;
  color: cadetblue  ;
}
.data_top li.on .table{
  display: none;
}
.data_top li strong {
  float: right;
  color: #e76f00;
}
.table .t_r {
  display: table-row;
}
.table .td {
  display: table-cell;
  vertical-align: top;
  *float: left;
  padding-left: 20px;
}
.img_box {
  margin-top: 10px;
  border: 1px solid #000;
}
.point {
  font-family: tahoma;
  font-weight: bold;
  float: left;
  display: inline;
}
.point .total {
  font-size: 1.8em;
  padding: 1px 0;
  float: left;
  display: inline;
  color: #f07200;
  line-height: 1em;
}
.point .total2 {
  color: #f07200;
  font-size: 1.2em;
  float: left;
  display: inline;
  line-height: 1em;
}
.mt06 {
  margin-top: 6px;
  text-align: right;
}


/*
movies tag background 
*/
.tags {
  margin-bottom: 20px;
}
.category {
    padding-left: 0;
    padding-bottom: 5px;
    border-bottom: 1px dashed #bbb;
}
.category li{
  display: inline-block;
  margin-right: 2px;
  padding-top: 2px;
}
.tag {
  zoom: 1;
  cursor: pointer;
  padding: 2px 5px;
  line-height: 20px;
}
.tag a{
  font-size: 13px;
  color: #333;
}
.tag_checked {
  background: #333;
  text-decoration: none;
  border-radius: 5px;
}
.tag_checked a{
  color: #fff;
}
.tag_checked a:hover{
  color: #fff;
}
.upset{
  width: 800px;
  height: 300px;
  background-image: url(upset.jpg);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position-x: 35%;
  background-position-y:20%;
  position: relative;
  
} 
.upset p{
  font-size: 18px;
  line-height: 32px;
  padding: 200px 0 0 400px;
  color: #333;
}


/*
result background
*/
.search_con{
  width: 950px;
}
.search_tab{
    height: 50px;
    border-bottom: 1px solid #f07200;
    padding: 10px 25px 0;
    position: relative;
    zoom: 1;
    text-align: right;
    z-index: 0;
}
.search_more{
  line-height: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.search_more a{
  font-size: 14px;
  color: #333;
  text-decoration: none;
}
.search_menu{
  position: absolute;
  left: 25px;
}
.search_menu li {
  float: left;
  display: inline;
  font-size: 14px;
  text-align: center;
  min-width: 70px;
  line-height: 35px;
  margin: -45px 0 20px 20px;
  cursor: pointer;
}
.search_menu li.search_curr {
  background:#464545;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
}
.search_q{
  margin: 25px 80px 0;
}
.search_q nobr{
  color: brown; 
  font-weight: bolder;
  font-size: 18px;
}
.at0{
  font-size: 18px;
  padding-top: 15px;
}
.at1{
  color: #555;
  font-size: 14px;
}
.al0{
  font-size: 12px;
  color: #555;
}

/*

  Recommended daily background

*/
.todayrecmd {
  background: #ffffff;
  position: relative;
  width: 130%;
  zoom:1;
  z-index: 1;
}
.todayrecmd_wrap {
  background: #fff;
  width: 900px;
  height:450px;
  box-shadow: 0 -10px 15px -10px #525252;
  position: absolute;
  z-index:20;
  top: 100px;
  left: 10%;
  margin: 0 auto;
  zoom:1;
}
.todayrecmd_img {
  position: absolute;
  left: 50px;
  top: 30px;
}
.todayrecmd_picbox {
  display: block;
  width:300px;
  height:400px;
  border-radius:15px;
  background-color: transparent;
  box-shadow:0px 0px 5px 5px #ccc;
  padding: 10px;
  z-index: 30;
}
.todayrecmd_content {
  position: absolute;
  padding-bottom: 15px;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 350px;
  z-index: 0;
  zoom: 1;
}
.todayrecmd_info {
  width: 480px;
  margin: 0 auto;
  position: absolute;
  padding-top: 30px;
  padding-bottom: 25px;
}
.clearfix{
  display: block;
}
.todayrecmd_otherbox {
  position: absolute;
  padding-bottom: 15px;
  font-size: 14px;
  padding-top: 25px;
  padding-left: 5px;
  z-index: 0;
  zoom: 1;
  width: 450px;
}
.todayrecmd_otherbox dd {
  border-bottom: 1px dotted #999;
  position: relative;
  padding: 9px 0 9px 120px;
  line-height: 1.5em;;
  font-size: 13px;
  zoom: 1;
}
.todayrecmd_otherbox dd strong {
  position: absolute;
  left: 0;
  top: 7px;
  width: 120px;
  font-size: 14px;
  line-height: 1.5em;
}
.todayrecmd_CNhead{
  font-size: 30px;
  font-weight: bolder;
}
.todayrecmd_ENhead{
  font-size: 20px;
  font-weight: bold;
}
.todayrecmd_date{
  font-size: 16px;
  float: right;
  padding-top: 300px;
  color: #f07200;
  font-weight: bolder;
}

/* 

  video play background

*/
.myModal-content{
  width: 642px;
  background-color:rgb(255, 255, 255);
}
#videodemo:focus{ 
  outline:none   
}
